body{
    background-color: rgb(225, 220, 255);
    margin: auto 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: rgb(197, 172, 255);
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.nav a{
    font-family: "Comic Sans";
    text-decoration: none;
    font-size: 4vh;
    color: blueviolet;
}

footer{
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: purple;
}